Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      FromPort: 443
      ToPort: 443
      CidrIp: 0.0.0.0/0

OptionSettings:
  aws:elbv2:listener:443:
    ListenerProtocol: HTTPS
    SSLCertificateArns: "arn:aws:acm:us-west-2:381492034918:certificate/fcd076ef-7c27-4c2d-b6de-4e137639e00d"
    DefaultProcess: default
  aws:elbv2:listener:default:
    ListenerProtocol: HTTP
    InstancePort: 80
