Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      FromPort: 443
      ToPort: 443
      CidrIp: 0.0.0.0/0

OptionSettings:
  aws:elbv2:listener:443:
    ListenerProtocol: HTTPS
    SSLCertificateArns: "arn:aws:acm:us-west-2:381492034918:certificate/194e3b3d-bced-48b0-9e1c-f01d31423c37"
    DefaultProcess: default
  aws:elbv2:listener:default:
    ListenerProtocol: HTTP
    InstancePort: 80

files:
  "/etc/nginx/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          server_name _;
          return 301 https://$host$request_uri;
      }
