Resources:
  sslLoadBalancer:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      DefaultActions:
        - Type: "forward"
          TargetGroupArn: "arn:aws:elasticloadbalancing:us-west-2:381492034918:targetgroup/awseb-AWSEB-WFMT4UPLVYFF/4af89a80f9f17e4b"
      LoadBalancerArn: "arn:aws:elasticloadbalancing:us-west-2:381492034918:loadbalancer/app/your-load-balancer-arn"
      Port: 443
      Protocol: HTTPS
      SslPolicy: ELBSecurityPolicy-2016-08
      Certificates:
        - CertificateArn: "arn:aws:acm:us-west-2:381492034918:certificate/fcd076ef-7c27-4c2d-b6de-4e137639e00d"
